<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projekti?useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.pool_size">100</property>
		<property name="hibernate.connection.release_mode">after_statement</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<property name="show_sql">true</property>
		<mapping class="project.entity.Department"></mapping>
		<mapping class="project.entity.Sector"></mapping>
		<mapping class="project.entity.Role"></mapping>
		<mapping class="project.entity.Permission"></mapping>
		<mapping class="project.entity.User"></mapping>
		<mapping class="project.entity.Country"></mapping>
		<mapping class="project.entity.Employee"></mapping>
		<mapping class="project.entity.Child"></mapping>
	</session-factory>
</hibernate-configuration>
